<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta property="og:site_name" content="Monterey Car Week Pace Car Program"/>
    <meta property="og:title" content="{{title}}"/>
    <title>Monterey Car Week Pace Car Program {{ title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style/main.css' | url }}"/>

  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="/" class="home-link"><span class="week">
          Monterey Car Week</span>
         Pace Car Program</a></h1>
          <aside>August 9-18, 2024</aside>
        
      </div>
    </header>
   <div class="container">
    <main>
    {{ content | safe }}
    </main>
    </div>
    <footer>
      <div class="container">
         <p>This website is not affiliated with whoever puts on Monterey Car Week.</p>
        <nav>
          <ul>
            <li><a href="/legal">Legal</a></li>
            <li><a href="/accessibility">Accessibility</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>