---
layout: base.njk
---
<div class="container">
  {{ content | safe }}
</div>
<div class="sticker">
<h2>Sign the pledge, get a bumper sticker</h2>
<img src="/assets/images/sticker.png" alt="Bumper sticker: Official Monterey Car Week Pace Car"/>
<div style="width:100%;height:500px;" data-fillout-id="jNr4suZZvcus" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div><script src="https://server.fillout.com/embed/v1/"></script>
  </div>
<div id="note">
  <div class="container">
    <p>
      <span class="asterisk">*</span> 
      This website is not affiliated with whoever puts on Monterey Car Week.</p>
  </div>
</div>
    